/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.cart {
  display: flex;
}

.buy {
  /* margin-left: 5px; */
}

.product-list {
  margin-left: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* flex: auto; */
}


.product {
  margin-right: 5px;
  border-style: double;
}